.card-img-top {
  object-fit: fill;
  height: 250px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card-footer a {
  text-decoration: none;
}

.card {
  background-color: var(--card-bg);
  border-radius: 20px;
  /* border: none; */
  box-shadow: .75rem .75rem .75rem var(--shadow);
}

.card-footer {
  border-bottom-left-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
}

.card-title {
  /* color: var(--accent); */
  font-weight: 600;
}