/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */

body {
  --code-color: #f8f8f2;
  --code-shadow: rgba(0, 0, 0, 0.3);
  --code-bg: #272822;
  --code-comment: #8292a2;
  --code-punctuation: #f8f8f2;
  --code-property: #f92672;
  --code-selector: #a6e22e;
  --code-operator: #f8f8f2;
  --code-number: #ae81ff;
  --code-function: #e6db74;
  --code-keyword: #66d9ef;
  --code-regex: #fd971f;
}

body.light-theme {
  --code-color: black;
  --code-shadow: white;
  --code-bg: #f5f2f0;
  --code-comment: slategray;
  --code-punctuation: #999;
  --code-property: #905;
  --code-selector: #690;
  --code-operator: #9a6e3a;
  --code-number: #905;
  --code-function: #DD4A68;
  --code-keyword: #07a;
  --code-regex: #e90;
}

code[class*="language-"],
pre[class*="language-"] {
  color: var(--code-color);
  background: none;
  text-shadow: 0 1px var(--code-shadow);
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
  border-radius: 0.3em;
}

:not(pre)>code[class*="language-"],
pre[class*="language-"] {
  background: var(--code-bg);
}

/* Inline code */
:not(pre)>code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--code-comment);
}

.token.punctuation {
  color: var(--code-punctuation);
}

.token.namespace {
  opacity: .7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: var(--code-property);
}

.token.boolean,
.token.number {
  color: var(--code-number);
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: var(--code-selector);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: var(--code-operator);
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
  color: var(--code-function);
}

.token.keyword {
  color: var(--code-keyword);
}

.token.regex,
.token.important {
  color: var(--code-regex);
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}