figure div {
    position: relative;
    padding-top: 56.25%;
}

figure div iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

article {
    font-size: 14pt;
}

#lol {
    margin-left: 0;
    margin-right: 0;
}

figcaption {
    margin-top: 0.5rem;
}

blockquote {
    display: block;
    border-width: 2px 0;
    border-style: solid;
    border-color: #eee;
    padding: 1.5em 0 0.5em;
    margin: 1.5em 0;
    position: relative;
    background-color: white;
}

blockquote:before {
    content: '\201C';
    position: absolute;
    top: 0em;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    width: 3rem;
    height: 2rem;
    font: 6em/1.08em 'PT Sans', sans-serif;
    color: #666;
    text-align: center;
}

blockquote:after {
    content: "– "attr(cite);
    display: block;
    text-align: right;
    font-size: 0.875em;
    color: #e74c3c;
    margin-top: 0.5em;
}

#quote {
    background-color: white;
    border-left: 0;
    padding-bottom: 1rem;
}

@media (max-width: 767.98px) {
    article {
        font-size: 13pt;
    }
}