h3 {
  padding-top: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.gray {
  font-weight: bold;
  color: #888;
}

.yellow {
  font-weight: bold;
  color: rgb(177, 158, 76);
}

.green {
  font-weight: bold;
  color: rgb(96, 138, 84);
}

figure {
  display: flex;
  justify-content: center;
}

img {
  max-width: 95%;
}