.logo {
  width: 5rem;
}

ul {
  padding-left: 1rem;
}

.company{
  font-weight: 700;
}

.location, .role, .extra {
  font-weight: 600;
}

.company, .location {
  /* color: var(--accent); */
  /* color: var(--headline); */
  /* font-size: larger; */
}

/* .role, .extra {
  color: var(--accent);
} */

h2 {
  color: var(--headline);
}

.date {
  font-weight: 600;
  color: var(--muted);
}

h5 {
  /* color: var(--accent); */
  font-weight: 600;
}

.button {
  text-decoration-color: transparent;
}

@media (max-width: 991.98px) {
  .logo {
    width: 4rem;
  }
}

@media (max-width: 767.98px) {
  .logo {
    width: 3rem;
  }

  .date {
    font-style: italic;
  }
}