.date {
  font-style: italic;
}

.post {
  max-width: 800px;
}

.figure-caption {
  color: var(--muted);
}

/* Blockquote Styling */
blockquote {
  display: block;
  border-width: 2px 0;
  border-style: solid;
  border-color: #eee;
  padding: 1.5rem 0 0.5rem;
  margin: 1.5rem 0;
  position: relative;
  background-color: transparent;
}

blockquote:before {
  content: '\201C';
  position: absolute;
  top: 0em;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--bg);
  width: 3rem;
  height: 2rem;
  font: 6em/1.08em 'PT Sans', sans-serif;
  color: var(--primary);
  text-align: center;
}

blockquote:after {
  content: "– "attr(cite);
  display: block;
  text-align: right;
  font-size: 0.875rem;
  color: var(--accent);
  margin-top: 0.5rem;
}

figure {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

h1 {
  margin-bottom: 1rem;
}

h2 {
  margin-top: 1.5rem;
  color: rgb(251, 225, 76);
}

/* @media (max-width: 767.98px) {
  article {
    font-size: 13pt;
  }
} */