.navbar {
  background-color: transparent;
}

#recommendation {
  font-size: 1.25rem;
}

#recommendation a {
  font-size: 1.5rem;
}

#anagram {
  font-size: 1.25rem;
}

.control {
  color: var(--primary);
  transition-duration: 0.25s;
  transition-property: transform, color;
  transition-timing-function: ease-out;
}

.control:hover {
  color: var(--accent);
}

.control:active {
  transform: translateY(2px);
}
