/* Font Size */
html {
  font-size: 14pt;
}

/* Themes */
body {
  --bg: #1f2427;
  --bgt: #1f2427fa;
  --primary: #f0f2f3;
  --muted: #c6c6c6;
  --accent: #ec1a62;
  --tag-bg: rgb(60, 62, 71);
  --card-bg: #4f5a61;
  --shadow: #11111180;
  --headline: #ffe96e;
  --footer: #c6c6c6;
}

body.light-theme {
  --bg: #f3f3f3;
  --bgt: #f3f3f3fa;
  --primary: #333;
  --muted: #969696;
  --accent: #ba0d37;
  --tag-bg: rgb(230, 230, 230);
  --card-bg: rgb(210, 210, 210);
  --shadow: #9e9e9e38;
  --headline: #ba0d37;
  --footer: #5c5c5c;
}

/* Font and Colors */
body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: var(--bg);
  color: var(--primary);

  margin: 0;
  padding: 0;
}

/* Link styling */
a {
  outline: none;
  color: var(--primary);
  text-decoration: underline;
  text-decoration-color: var(--accent);
  text-decoration-thickness: 0.14em;
  transition: color 0.25s, text-decoration-color 0.25s;
}

a:focus,
a:hover {
  color: var(--accent);
  text-decoration-color: transparent;
}

/* Layout */
main {
  width: 800px;
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5;
}

footer {
  margin-top: 3rem;
}

/* Text styling */
h1 {
  font-size: 2rem;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--headline);
  margin-bottom: 1rem;
}

code {
  font-size: 16px;
}