/* Full height jumbotron */
.jumbotron {
  height: 100vh;
  background-color: var(--bg);
}

#namecard {
  font-size: 2.5rem;
  font-weight: 700;
}

#typed {
  font-size: 1.5rem;
}

/* Footer */
footer {
  color: var(--footer);
}

.button {
  font-size: 1.15rem;
}